<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.metamong">
    <!-- 권한처리 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:name = ".ui.mypage.memo.MemoApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="AllowBackup">
        <activity
            android:name=".fragment.mypage.MongsAddActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.mypage.MongsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mission.MissionIngActivity"
            android:exported="false" />
        <activity
            android:name=".ui.test.ResultDatailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.metamong.ui.main.HomeActivity_Sub"
            android:exported="false" />
        <activity
            android:name=".ui.test.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.test.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>